html, body {
  background-color: #151515;
  background:url(images/targilog.jpg) center top;
}

h1 {
    font-family: verdana;
    color: #D8D8D8;
    text-align: center;
}

p {
    color: #A9D0F5
    font-family: verdana;
    font-size: 20px;
}
